.siteHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.siteTitle {
	font-size: 2.5rem;
}

.menuOpen {
    height: 100%;
}

.linkList {
    list-style: none;
}

.menuClose {
    height: 2rem;
}

.menu {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    background-color: #ef901b;
    top: 0;
    left: 0;
    text-align: right;
    padding: 2rem;
}