.trusted {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trustedTitle {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
    padding: 2rem 0;
}

.trustedText {
	font-size: 1.8rem;
	text-align: center;
	font-weight: 600;
}

.trustedList {
    display : flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 2rem 0;
}


.button {
    background-color : #787878;
    color : #fff; 
    
    }



.review {
    width: 100%;   
}